/* Intro Page */
#home {
    background: linear-gradient(rgba(0.6,0.6,0.6,0.6), rgba(0.6,0.6,0.6,0.6)),
    url('/static/images/portfolio_2.jpg') center center fixed;
    opacity: 1;
    display: table;
    height: 90%;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    background-size: cover;
}
.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
    padding-bottom: 350px;
}
.landing-text h1 {
    font-size: 60px;
}
.landing-text h6 {
    font-size: 20px;
}

.landing-text strong {
    color: #7DCEA0;
}

.carousel-inner img {
    height: 720px;
    width: 100%;
}

/* About Me */
#home2 {
    background: linear-gradient(rgba(0.8,0.8,0.8,0.8), rgba(0.8,0.8,0.8,0.8)),
    url('/static/images/programming-wallpaper14.jpeg') center center fixed;
    opacity: 1;
    display: table;
    height: 90%;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    background-size: cover;
}

.landing-text2 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
}

.landing-text2 h1 {
    font-size: 52px;
    color: #FCF3CF;
}

.landing-text2 button {
    margin-top: 20px;
    background-color: transparent;
    color: orange;
    border-color: orange;
}

.landing-text2 button:hover {
    background-color: transparent;
    color: #F9E79F;
    border-color: #F9E79F;
}
.carousel-inner img{
    filter: brightness(80%);
}

/* Blog CSS */
#home3 {
    background: linear-gradient(rgba(0.6,0.6,0.6,0.6), rgba(0.6,0.6,0.6,0.6)),
    url('/static/images/website-design-background.png') center center fixed;
    opacity: 1;
    display: table;
    height: 90%;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    background-size: cover;
}

.landing-text3 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
}

.landing-text3 h2 {
    font-size: 50px;
}

.landing-text3 button {
    margin-top: 20px;
    background-color: transparent;
    color: orange;
    border-color: orange;
}

.landing-text3 button:hover {
    background-color: transparent;
    color: #F9E79F;
    border-color: #F9E79F;
}

/* Arrow Animation */
.arrow-down {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.arrow-down::after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: 2s arrow infinite ease;
    animation: 2s arrow infinite ease;
}

@-webkit-keyframes arrow {
    0%, 100% {
        top: 50px;
    }
    50% {
        top: 80px;
    }
}

@keyframes arrow {
    0%, 100% {
        top: 50px;
    }
    50% {
        top: 80px;
    }
}