h1 {
    text-align: center;
    padding-top: 20px;
}

.row {
    padding-top: 50px;
    padding-bottom: 51px;
}

.card {
    transition: transform .2s; /* Animation */
}

.card:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.05);
}

#home4 {
    background: linear-gradient(rgba(0.5,0.5,0.5,0.5), rgba(0.5,0.5,0.5,0.5)),
    url('/static/images/landing homepage.jpg') center center fixed;
    opacity: 1;
    display: table;
    height: 77%;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    background-size: cover;
}

.title_project {
    color: white;
}