{% extends 'base.html' %}
{% load static %}
{% block title %}About Hamad Alsheraifi{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <h1>About Me</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pellentesque mi nec sapien dignissim venenatis.
        Donec tristique rhoncus tempor. Morbi id mattis ipsum. Nulla porta erat a nulla faucibus, ut pellentesque arcu
        rhoncus. Donec orci risus, placerat in pulvinar sit amet, vulputate eu turpis. Aliquam nec posuere eros,
        sed commodo lectus. Praesent vitae eros malesuada, tristique enim a, ullamcorper massa. Donec risus tortor,
        semper a risus nec, semper fringilla erat. Sed facilisis nulla nisl, eget volutpat nunc tristique eget.

        Etiam tortor nulla, iaculis sed consequat in, ultrices vel eros. Suspendisse quis mi viverra, lobortis massa
        eget, tincidunt neque. Morbi ut porta lacus. Aliquam efficitur purus vitae justo bibendum, et hendrerit dui
        dictum. Praesent efficitur mattis ultricies. Nam sollicitudin fermentum accumsan. Donec gravida, orci quis
        efficitur maximus, sem ante tincidunt urna, ac vulputate erat risus sed elit. Quisque pulvinar nisl ac urna
        faucibus efficitur. Praesent elementum, nisl ultrices cursus fermentum, nunc purus pellentesque mauris, ac
        lobortis nisl odio a orci. Nam sollicitudin velit ut rutrum pulvinar. Integer ullamcorper, massa at sodales
        egestas, nulla nibh pellentesque nisi, sit amet condimentum nunc dolor ornare erat. Donec euismod ornare
        facilisis. Donec malesuada neque quis dignissim sodales. Orci varius natoque penatibus et magnis dis parturient
        montes, nascetur ridiculus mus. Orci varius natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus.

        Etiam venenatis urna augue, eu mollis eros volutpat vel. Vivamus elementum congue leo, ultrices cursus nibh
        venenatis a. Vivamus vel ligula eros. Vestibulum efficitur vulputate lectus in interdum. Phasellus tempor
        elementum laoreet. Aliquam nec vehicula nisl. Vivamus vulputate aliquet dolor sed feugiat. Quisque urna augue,
        fermentum non orci ac, vulputate ornare neque. Morbi ipsum lorem, molestie ac consequat eu, laoreet eu sem.
        Maecenas lobortis nec ipsum non condimentum.

        Maecenas dui leo, ultrices et luctus eu, consequat ac nulla. Etiam pulvinar urna arcu, vitae tincidunt quam
        fringilla sit amet. Cras dapibus porttitor lacinia. Suspendisse eget neque sapien. Integer a maximus tortor,
        in gravida velit. Cras iaculis aliquet justo, quis luctus ante venenatis sit amet. Mauris in ipsum pellentesque,
        ornare turpis nec, interdum enim. Nulla viverra non lectus aliquet congue. Nunc felis lorem, ullamcorper non
        lectus a, tincidunt consequat massa. Fusce vel turpis ex. Vestibulum interdum dignissim risus.

        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis fermentum
        sollicitudin ipsum quis vulputate. In neque purus, dapibus at fringilla et, sodales blandit erat. Donec commodo
        felis at purus efficitur, vel mollis felis varius. Sed neque risus, iaculis eu velit at, volutpat tempus nulla.
        Nulla facilisi. Nunc a tincidunt turpis.
    </p>
{% endblock %}