{% extends 'base.html' %}
{% block title %}Add Blog Post{% endblock %}

{% block content %}
    <div class="container">
        <div class="form-group">
            <br><h1>Add Post...</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
            </form>
            <button type="submit" class="btn btn-secondary">Post</button>
            <a href="{% url 'blog' %}" class="btn btn-secondary">Back</a>
        </div>
    </div>
    <br>
{% endblock %}