{% extends 'base.html' %}
{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <div id="home">
        <div class="landing-text">
            <h1>MY <strong>PORTFOLIO</strong> WEBSITE</h1>
            <h6> My Most Recent Website Built via Django</h6>
        </div>
        <div class="arrow-down"></div>
    </div>

    <div id="home2">
        <div class="landing-text2">
            <h1>What I Do</h1>
            <h6>I build websites as a hobby. I find fun in creating them</h6>
            <a href="{% url 'about' %}"><button type="button" class="btn btn-warning btn-lg">
                More About Me</button></a><br><br>
        </div>
    </div>

    <!--Blog Start -->
    <div id="home3">
        <div class="landing-text3">
            <br><h2>Check Out My Blog</h2><br>
            <a href="{% url 'blog' %}"><button type="button" class="btn btn-warning btn-lg">
                Go to Blog</button></a><br><br>
        </div>
    </div>
    <!--Blog End -->
{% endblock %}