{% extends 'base.html' %}
{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
    <h1>My Personal Projects</h1>

    <!--  Card #1  -->
    <div class="row row-cols-1 row-cols-md-4 g-5 d-flex justify-content-center">
      <div class="col">
        <div class="card h-100 border-secondary">
            <img src="{% static 'images/first_web_screenshot.png' %}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">First Portfolio</h5>
              <p class="card-text">This was the first personal portfolio website I have created purely using
              frontend tools only (HTML, CSS, JSS).</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">February 2020</small>
            </div>
        </div>
      </div>

      <!--  Card #2  -->
      <div class="col">
        <div class="card h-100 border-secondary">
            <img src="{% static 'images/covid19_screenshot.png' %}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Covid-19 Awareness Website</h5>
              <p class="card-text">I participated in a contest where the contestants are to create a product that'll
                raise awareness. This is an unfinished prototype using HTML, CSS & JS.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">March 2020</small>
            </div>
        </div>
      </div>

      <!--  Card #3  -->
      <div class="col">
        <div class="card h-100 border-secondary">
            <img src="{% static 'images/latest_portfolio.png' %}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Latest Portfolio</h5>
              <p class="card-text">This is the latest portfolio I made, which is this one, now using Django along
              with the frontend tools plus Bootstrap.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">May 2021</small>
            </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100 border-secondary">
            <img src="{% static 'images/latest_portfolio.png' %}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Latest Portfolio</h5>
              <p class="card-text">This is the latest portfolio I made, which is this one, now using Django along
              with the frontend tools plus Bootstrap.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">May 2021</small>
            </div>
        </div>
      </div>
    </div>
{% endblock %}