                                                {% extends 'base.html' %}
{% block title %}Edit Blog Post{% endblock %}

{% block content %}
    {% if user.is_authentiated %}
    <div class="container">
        <div class="form-group">
            <h1>Update Post...</h1>
            <br><br>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-secondary">Update</button>
                <a href="{% url 'blog' %}" class="btn btn-secondary">Back</a>
            </form>
        </div>
    </div>
    {% else %}
     You are not logged in!
    {% endif %}


{% endblock %}